p {
  /* border-style: groove; */
  border-style: groove;
  border-width: 5px;
  /* border-width: thick medium thick medium; */
  font-family: "Times New Roman";
  font-size: larger;
  font-style: oblique;
  padding: 5px;
  border-color: blueviolet;
  border-color: aqua blue black azure;
  text-align: center;
  text-shadow: 2px 2px 3px gray;
  text-decoration: line-through;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
