h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 200%;
  font-style: italic;
  font-variant: small-caps;
  /* font-weight: bolder; */
  font-weight: 900;
}
p {
  /* font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-stretch: extra-condensed;
  font-style: oblique; */
  /* font-weight: bolder; */
  /* font-weight: 900; */
  font: bold 10px "Times New Roman";
}
