.container {
  border: 3px solid;
  /* float: right; */
  text-align: end;
  background-color: bisque;
  padding: 5px;
}
a {
  font-size: larger;
  padding-left: 10px;
}
a:link {
  color: black;
}
a:hover,
a:active {
  color: rgb(126, 218, 146);
  font-style: oblique;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgb(153, 246, 100);
}
img {
  height: 20px;
  float: left;
}
