table,
th,
td {
  border: 2px solid aqua;
  /* border-collapse: collapse; */
  border-spacing: 10px 20px;
  empty-cells: hide;
  table-layout: fixed;
  height: 10px;
  padding: 10px;
  text-align: center;
}
table {
  width: 70%;
  height: 10px;
}

caption {
  caption-side: top;
  border: 2px solid aqua;
  border-spacing: 10px 20px;
  padding: 10px;
}
