.paragraph {
  color: rgb(200, 20, 20);
  direction: rtl;
  text-align: start;
  letter-spacing: 2px;
  line-height: 2em;
  text-decoration: overline underline;
  text-indent: 5em;
  text-shadow: 2px 2px 2px rgb(189, 112, 177);
}
h1 {
  color: rgb(20, 20, 150);
  direction: ltr;
  text-align: center;
  /* font-size: 3em; */
  letter-spacing: 1px;
  line-height: 2em;
  text-decoration: line-through;
  text-indent: 2em;
  text-shadow: 4px 4px 8px rgb(210, 32, 32);
  /* Syntax: -  text-shadow: h-shadow v-shadow blur-radius color*/
}
